<div class="container">
  <div class="signup">
    <div class="signup-form">
      <h2>Welcome Back</h2>
      <form class="form-group">
        <div>
          <label for="username">Enter a username</label>
          <input
            class="form-style"
            type="text"
            placeholder="Enter a username"
            id="username"
          />
        </div>

        <div>
          <label for="password">Enter password</label>
          <input
            type="password"
            placeholder="Enter password"
            id="password"
            class="form-style"
          />
        </div>

        <div>
          <input type="submit" value="Log In" class="btn" />
        </div>
        <div>
          <p>Don't have a account?? <span class="no-account">Sign Up</span></p>
        </div>
      </form>
    </div>
    <div class="signup-image">
      <img
        src="https://cdn.mos.cms.futurecdn.net/pn9Cm7esDZqmmZRHeEBsSf-1200-80.jpg"
        alt="couldn't preview image"
        height="350px"
        width="500px"
      />
    </div>
  </div>
</div>
